body {
    font-family: "Times New Roman", Times, serif;
    background-color: #FAFAFA;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 40px;
    border: 1px solid #DDDDDD;
}

header {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 10px solid #DDDDDD;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: normal;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
    margin-top: 30px;
    font-weight: normal;
}

h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

nav {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.1em;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0000EE;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    cursor: default;
}

a {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.date {
    font-weight: bold;
    margin-right: 10px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.8em;
    color: #666666;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}